$PRIMARY_COLOR : #ffffff;
$ACCENT_COLOR :  #e6007e;  //#ffc400;


// DXLab font settings 
/*
* Font Families
* ------------------------------ */

$FONT_PRIMARY: 'Lekton', sans-serif;
$FONT_SECONDARY: 'Barlow', sans-serif;


/*
* Font Sizes
* ------------------------------ */

$FONT_SCALE: 1.3;
$FONT_SIZE_MD: 1em;

$FONT_SIZE_SM: $FONT_SIZE_MD / $FONT_SCALE;
$FONT_SIZE_XS: $FONT_SIZE_SM / $FONT_SCALE;
$FONT_SIZE_XXS: $FONT_SIZE_XS / $FONT_SCALE;
$FONT_SIZE_XXXS: $FONT_SIZE_XXS / $FONT_SCALE;
$FONT_SIZE_XXXXS: $FONT_SIZE_XXXS / $FONT_SCALE;

$FONT_SIZE_LG: $FONT_SCALE * $FONT_SIZE_MD;
$FONT_SIZE_XLG: $FONT_SCALE * $FONT_SIZE_LG;
$FONT_SIZE_XXLG: $FONT_SCALE * $FONT_SIZE_XLG;
$FONT_SIZE_XXXLG: $FONT_SCALE * $FONT_SIZE_XXLG;
$FONT_SIZE_XXXXLG: $FONT_SCALE * $FONT_SIZE_XXXLG;


/*
* Line Heights
* ------------------------------ */

$LINE_HEIGHT_XXS: 1;
$LINE_HEIGHT_XS: 1.2;
$LINE_HEIGHT_SM: 1.3;
$LINE_HEIGHT_MD: 1.5;

@miXin font-uppercase() {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-variant-ligatures: none;
}

@miXin font-antialiased() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}