#roots::after {
  content: "";
  z-index: 100;
  position: relative;
  display: block;
  height: 100vh;
  width: 100vw;
  /* background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(9,9,121,.1) 35%, rgba(0,212,255,.8) 100%); */

  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,.85) 0%, rgba(112,112,122,.1) 35%, rgba(247,247,247,0) 100%);

  pointer-events: none;
} 

.rc-slider-tooltip {
  z-index: 3002;
}

body, html{
  overflow:hidden  // scrolling.
}

// Disable select text. Prevent touch screen for selecting text when panning the map
* {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}


// Fix timeline not clickable in kiosk mode 
.chartjs-size-monitor {
  pointer-events: auto !important;
  visibility: visible !important;
  z-index: auto !important;
}

// Remove openseadragon focus line
.openseadragon-container :focus { outline: none; }