@import './global';
@import './slick.scss';
@import './slick-theme.scss';


* {
  font-family: $FONT_PRIMARY;
}

body {
  width: 100vw;
  height: 100vh; 
  margin: 0;
}

a {
  color: $PRIMARY_COLOR;
  text-decoration: none;

  &:hover {
      text-decoration: underline;
  }
}
