@import './global';

// @import url('https://fonts.googleapis.com/css?family=Bitter|Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lekton&display=swap');

* {
  font-family: 'Lekton', sans-serif;
  /* font-family: 'Bitter', serif; */
}

body {
  width: 100vw;
  height: 100vh; 
  margin: 0;
}

a {
  color: $PRIMARY_COLOR;
  text-decoration: none;

  &:hover {
      text-decoration: underline;
  }
}
