@import './variables';

.container {
  position: absolute;
  box-sizing: border-box;
  padding: $CONTAINER_PADDING;
  z-index: 3001;  
  // display: flex;
  bottom: 0;
  right: 0;
  // height: 300px;

  transition: width 200ms ease-in-out;
  width: 100vw;
  
  &.detailMode {
      width: 50vw;
  }


}

.panel {
  // position: relative;
  padding: $PANEL_PADDING;
  background-color: $PANEL_BACKGROUND_COLOR;
  height: 100px;
} 


.chart {
  height: 80px;
  width: 100%;
}