@import '../../../global';

.container {
    z-index: 5000;
    position: absolute;
    display: block;
    // height: 100vh;
    width: 100vw;
    bottom: 230px;
 }

 .keyboardContainer {
        position: absolute;
        left: 3vw;
        top: -152px;
        width: 33vw;
 }

 .fab {
    background-color: $ACCENT_COLOR !important;
    width: 80px !important;
    height: 80px !important; 
 }

 .geocoder {
    margin-top: -56px !important;
 }