@import '../../../global';

.container {
    z-index: 5000;
    position: absolute;
    display: block;
    width: 100vw;
    bottom: 180px;
    pointer-events: none;

    transition: opacity 200ms ease-in-out;
 }

 .keyboardContainer {
        width: 40vw;
        height: 180px;
        pointer-events: auto;
        margin-bottom: -180px;
 }

 .fab {
    position: absolute;
    bottom: 0;
    background-color: $ACCENT_COLOR !important;
    width: 80px !important;
    height: 80px !important; 
    pointer-events: auto;
 }

 .geocoder {
   //  margin-bottom: -58px !important;
    pointer-events: auto;
 }