@import '../../../global';

.btnAbout {
  position: absolute;
  z-index: 6000;
  right: 40px;
  top: 32px;
  color: $PRIMARY_COLOR !important;
  font-size: $FONT_SIZE_LG;
  cursor: pointer;
  width: 30px;

  svg {
    height: 30px;
    width: 30px;
  }

  &.kiosk{
    left: 65px;
    bottom: 185px;
    top: auto;
  }
}



.modal {
  z-index: 9000 !important;
  color: $PRIMARY_COLOR;
  text-align: left;
  font-size: $FONT_SIZE_MD;
  line-height: $LINE_HEIGHT_MD;
  overflow-y: scroll;
  height: 100vh;

  a {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
  }


  .container {
    outline: 0;
    height: 100vh;

    .close {
      width: 100%;
      text-align: right;
      display: block;
      margin-bottom: -50px;

      svg {
        height: 35px;
        width: 35px;
      }
    }

  }

}

.footer {
  margin: 90px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;


  .footerLinks {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    padding: 0px;

    margin: 12px 0;

    font-family: 'Lekton', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 21px;
    font-size: $FONT_SIZE_SM;
    text-transform: uppercase;

    a {
      text-decoration: none;
    }

    li {
      list-style: none;
      margin: 0;

      &::after {
        content: "|";
        margin: 0 10px;
      }

      &:last-child {
        &::after {
          content: "";
        }
      }
    }
  }

  .footerSocial {

    margin: 12px 0;

    a {
      margin: 0 4px;

      svg {
        height: 16px;
        width: 16px;
      }

      &:hover {
        color: $ACCENT_COLOR;
      }
    }
  }
}

.footerNSW {
  margin-left: 30px;

  .nswLogo {
    width: 60px;
    height: auto;
    margin-top: -35px;
  }
}