@import '../../../global';

.container {
    z-index: 200;
    position: absolute;
    display: block;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
 }

 .info {
    color: $PRIMARY_COLOR;
    position: absolute;
    bottom: 210px;
    right: 20vw;
    max-width: 400px;
    display: block;
    background-color: rgba(0,0,0,.4);
    padding: 15px;

    p {
        margin: 4px;
        list-style: $LINE_HEIGHT_MD;

        span {
            color: $ACCENT_COLOR;
            font-size: $FONT_SIZE_SM;
            font-family: $FONT_SECONDARY;
            line-height: $LINE_HEIGHT_SM;
            color: $ACCENT_COLOR;
        }
    }
 }
