@import '../../../global';

.root {
  position: absolute;
  z-index: 3010;
  width: 100vw;
  height: 100vh;
  pointer-events: none;


  .containerInfo {
    position: absolute;
    color: $PRIMARY_COLOR;
    top: 25px;
    right: 90px;
  

    .range {
      text-align: right;
      margin-bottom: 0;
      font-size: $FONT_SIZE_LG;
    }

    .info {
      width: 40vw;
      text-align: right;
      margin-top: 10px;
      float: right;
      color: $PRIMARY_COLOR;
      line-height: $LINE_HEIGHT_XS;
      font-size: $FONT_SIZE_MD;
    }

  }

  .logoHolder {
    position: absolute;
    top: 30px;
    left: 70px;
    pointer-events: auto;

    .divider {
      border-left: 2px solid white;
      display: block;
      height: 30px;
      float: left;
      margin: 0 15px;
    }

    .logoDxLab {
      width: 100px;
      height: auto;
      float: left;
      margin-top: 2px;
    }

    .logoSLNSW {
      width: 150px;
      height: auto;
      float: left;
    }
  }
}