@import '../../../global';

.rootStyle {
    position: absolute;
    color: $PRIMARY_COLOR;
    top: 20;
    right: 7%;
    z-index: 3010;
  }
  
  .rangeHeaderStyle {
    text-align: right;
    margin-bottom: 0;
  }
  
  .infoStyle {
    text-align: right;
    margin-top: 0;
  }
  
  .imgRootStyle {
    position: fixed;
    border: 2px solid rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, .2);
    margin: 20px;
    width: 512px;
  }