@import '../../../global';

.root {
  position: absolute;
  color: $PRIMARY_COLOR;
  top: 20;
  right: 70px;
  z-index: 3010;
  line-height: $LINE_HEIGHT_MD;

  .range {
    text-align: right;
    margin-bottom: 0;
  }

  .info {
    width: 40vw;
    text-align: right;
    margin-top: 0;
    float: right;
    color: $PRIMARY_COLOR;
  }
}