@import '../../../global';

$CONTENT_PADDING : 2px;
$CONTENT_MARGIN: 30px;

.modalWindow {
    z-index: 8001;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    border-right: 1px solid rgba(255, 255, 255, .4);
    height: 100vh;
    width: calc(50vw - #{$CONTENT_PADDING * 2});
    padding: $CONTENT_PADDING;
    color: $PRIMARY_COLOR;


    &:focus {
        outline: 0;
    }

    .headerContainer {
        position: absolute;
        bottom: 0;
        // margin: $CONTENT_MARGIN;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        z-index: 20;

        .header {
            padding-left: $CONTENT_MARGIN;
            padding-top: $CONTENT_MARGIN;
            max-width: 90%;

            .title {
                color: $PRIMARY_COLOR;
                text-align: left;
                font-size: $FONT_SIZE_MD;
                line-height: $LINE_HEIGHT_XS;

                max-width: 80%;
                font-weight: bolder;
                margin-bottom: 0;
                display: block;
            }

            .info {
                font-size: $FONT_SIZE_MD;
                display: block;
                color: $ACCENT_COLOR;
                font-family: $FONT_SECONDARY;
                margin-top: 5px;
            }

            .imageInfo {
                font-size: $FONT_SIZE_SM;
                text-align: right;
                margin-bottom: 20px;
            }

        }
    }

    .zoomable {
        width: 100%;
        height: 100vh;
        background-color: #393b3acc;
        display: block;
    }



    .details {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .related {
        margin-top: 25px;
        margin: 60px $CONTENT_MARGIN + 10;

        .container {
            height: 150px;

            .thumb {
                // max-width: 50%;
                width: 90%;
                height: 100%;
                cursor: pointer;

                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-color: rgba(255, 255, 255, .4);
            }
        }

    }


    .close {
        position: absolute;
        top: 0;
        right: 0;
        font-weight: bolder;
        font-size: 30px;
        color: $PRIMARY_COLOR;
        background: none;
        border: none;
        margin-top: 30px;
        margin-right: 10px;
        cursor: pointer;

        z-index: 20;
        &:focus {
            outline: 0;
        }


    }

    transition: left 200ms ease-in-out;
    left: -56vw;

    &.afterOpen {
        left: 0
    }

    &.beforeClose {
        left: -56vw;
    }


}

.modalOverlay {
    // background-color: #000a;
    z-index: 8000;
    position: fixed;
    top: 0;
    // left: 0;
    // right: 50%;
    bottom: 0;
    // width: 100vw;
}