.modalWindow {

    position: absolute;
    background-color: #000a;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;

    &:focus{
        outline:0;
     }

    .modalTitle {
        color: #fff;
        text-align: center;
    }

    .zoomable {
        width: 50vw;
        height: 90%;
    }

}

.modalOverlay {
    background-color: #000a;
    z-index: 8000;  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
