.modalWindow {

    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    // border: 1px solid rgba(125, 125, 125, 0.911);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50px;
    color: white;

    &:focus{
        outline:0;
     }

    .modalTitle {
        color: #fff;
        text-align: center;
        font-size: 32px;
        margin-bottom: 60px;
    }


    .zoomable {
        width: 49%;
        height: 100%;
        background-color: #000000;
        border: 1px solid rgba(255, 255, 255, .5);
        float: left;
    } 

    .info {
        font-size: 20px;
        float: right;
        width: 49%;

        ul {
            padding: 0;
            margin: 0;

            li{
                margin-top: 15px;
                list-style: none
            }
        }
        .related {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            align-content: center;
    
            img {
                margin-top: 10px;
                margin-right: 10px;
                cursor: pointer;
            }
    
        }
    

    } 

    .close {
        font-weight: bolder;
        font-size: 40px;
        color: white;
        background: none;
        border: none;
        float: right;

        &:focus{
            outline: 0;
        }

        
    }


}

.modalOverlay {
    background-color: #000a;
    z-index: 8000;  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
