// GLOBAL
$TEXT_COLOR : rgb(160, 167, 180);
$RANGE_MARGIN_TOP: 10px;


// Track
$TRACK_COLOR : #ffc400;//rgb(106, 116, 133);
$TRACK_HEIGHT : 5px;
$TRACK_MARGIN_TOP: $RANGE_MARGIN_TOP + ($TRACK_HEIGHT * -.5);
$TRACK_RADIUS : 0;

// Rail
$RAIL_HEIGHT : 3px;
$RAIL_MARGIN_TOP: $RANGE_MARGIN_TOP + ($RAIL_HEIGHT * -.5);
$RAIL_RADIUS : 0; 
$RAIL_BACKGROUND_COLOR: #fff; //darken($TRACK_COLOR, 80);//rgb(58, 65, 76);

// Handles
$HANDLE_COLOR : darken($TRACK_COLOR, 5); //rgb(211, 216, 224);
$HANDLE_WIDTH : 12px;
$HANDLE_HEIGHT : 14px;
$HANDLE_RADIUS : 0;
$HANDLE_MARGIN_TOP :  ($RAIL_MARGIN_TOP - ($HANDLE_HEIGHT * .5) ) + ($RAIL_HEIGHT * .5);
$HANDLE_MARGIN_LEFT : $HANDLE_WIDTH * -.5;
$HANDLE_LABEL_FONT_FAMILY : 'roboto';
$HANDLE_LABEL_FONT_SIZE: 11px;
$HANDLE_LABEL_MARGIN_TOP : ($HANDLE_MARGIN_TOP  - 2px) * -1;


// Ticks
$TICK_COLOR :  $RAIL_BACKGROUND_COLOR; //rgb(58, 65, 76);
$TICK_WIDTH : 2px;
$TICK_HEIGHT : 10px; 
$TICK_MARGIN_TOP: $RAIL_MARGIN_TOP;
$TICK__LABEL_MARGIN_TOP: $RAIL_MARGIN_TOP + $TICK_HEIGHT + 5px;
