.modalWindow {
    background: #000a;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;

    .modalTitle {
        color: #fff;
        text-align: center;
    }

    .zoomable {
        width: 50vw;
        height: 80%;
    }

}

